@theme {
	/* Primary colors: zinc */
	--color-primary-50: var(--color-zinc-50);
	--color-primary-100: var(--color-zinc-100);
	--color-primary-200: var(--color-zinc-200);
	--color-primary-300: var(--color-zinc-300);
	--color-primary-400: var(--color-zinc-400);
	--color-primary-500: var(--color-zinc-500);
	--color-primary-600: var(--color-zinc-600);
	--color-primary-700: var(--color-zinc-700);
	--color-primary-800: var(--color-zinc-800);
	--color-primary-900: var(--color-zinc-900);
	--color-primary-950: var(--color-zinc-950);

	/* Accent colors: calypso */
	--color-accent-50: #f1f8fa;
	--color-accent-100: #dceef1;
	--color-accent-200: #bddee4;
	--color-accent-300: #8fc6d1;
	--color-accent-400: #59a4b7;
	--color-accent-500: #3e889c;
	--color-accent-600: #346c7f;
	--color-accent-700: #315c6d;
	--color-accent-800: #2f4d5b;
	--color-accent-900: #2b434e;
	--color-accent-950: #182a34;

	/* Highlight colors: cumin */
	--color-highlight-50: #fef9ec;
	--color-highlight-100: #faeecb;
	--color-highlight-200: #f4da93;
	--color-highlight-300: #efc15a;
	--color-highlight-400: #ebab34;
	--color-highlight-500: #e48b1c;
	--color-highlight-600: #c96916;
	--color-highlight-700: #a74a16;
	--color-highlight-800: #8f3d19;
	--color-highlight-900: #703017;
	--color-highlight-950: #401708;

	/* Alternate colors: lima */
	--color-alternate-50: #f5fee7;
	--color-alternate-100: #e8fccb;
	--color-alternate-200: #d2fa9c;
	--color-alternate-300: #b3f363;
	--color-alternate-400: #95e734;
	--color-alternate-500: #72c614;
	--color-alternate-600: #59a40c;
	--color-alternate-700: #457d0e;
	--color-alternate-800: #396311;
	--color-alternate-900: #315314;
	--color-alternate-950: #172e05;
}
