.DS_Store
.git
.github
.gitignore
.vite
.vscode
config
Dockerfile
docker-data/*
dist/client/_x/*.jpg
dist/client/_x/*.gif
dist/client/_x/*.png
dist/client/_x/*.webp
dist/images
node_modules
packages
public
scripts
src
