---
import type { HTMLAttributes } from 'astro/types';

import Link from '#components/parts/link.astro';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import { menuFooterItems } from '#lib/menu/menu-footer.ts';
import { isActiveMenuItem } from '#lib/menu/menu-utils.ts';

type Props = HTMLAttributes<'nav'>;

const props = Astro.props;

const { pathname } = Astro.url;

const t = getTranslations();
---

<nav class="pb-small text-sm" aria-label={t('site.menu.footer.label')} {...props}>
	<ul class="flex flex-wrap gap-x-4 gap-y-2">
		{
			menuFooterItems.map((item) => (
				<li class="text-xs font-medium sm:text-sm">
					<Link
						href={item.url}
						class:list={[isActiveMenuItem(item, pathname) ? 'font-semibold' : undefined]}
						linkColor="primary"
					>
						{item.title}
					</Link>
				</li>
			))
		}
	</ul>
</nav>
