---
import { renderSlot } from '#lib/utils/astro.ts';

interface Props {
	class?: string | undefined;
}

const { class: className } = Astro.props;

const children = await renderSlot(Astro.slots, 'default');
---

{
	children ? (
		<li class="marker:text-accent-200 dark:marker:text-accent-500">
			<div
				class:list={[
					'flex flex-wrap items-center gap-1',
					'text-primary-700 dark:text-primary-500',
					className,
				]}
			>
				<Fragment set:html={children} />
			</div>
		</li>
	) : undefined
}
