---
interface Props {
	class?: string | undefined;
}

const { class: className } = Astro.props;

const children = (await Astro.slots.render('default')) as string | undefined;
---

{
	children?.trim() ? (
		<li class="marker:text-accent-200">
			<div class:list={['flex flex-wrap items-center gap-1 text-primary-700', className]}>
				<Fragment set:html={children} />
			</div>
		</li>
	) : undefined
}
