/* Note: the text shadow should match the background for the page */
.content a {
	text-shadow:
		1px 1px 0 var(--color-primary-100),
		-1px 1px 0 var(--color-primary-100),
		2px 0 1px var(--color-primary-100),
		-2px 0 1px var(--color-primary-100);
}
[data-mode='dark'] .content a {
	text-shadow:
		1px 1px 0 var(--color-primary-800),
		-1px 1px 0 var(--color-primary-800),
		2px 0 1px var(--color-primary-800),
		-2px 0 1px var(--color-primary-800);
}

/* Content image styling; these are labelled "not-prose" and require extra rules */
.content > *:not(.content-image):not(.figure-group) {
	@apply mx-auto max-w-content px-small md:px-medium;
}
.content > .content-image,
.content > .content-image + p {
	margin-top: 0;
}
.content-image-caption a {
	@apply text-accent-500 decoration-accent-200 transition-colors duration-150 ease-in hover:text-accent-300 hover:decoration-accent-100;
	text-decoration-line: underline;
	text-underline-offset: 2px;
}
[data-mode='dark'] .content-image-caption a {
	@apply text-accent-400 decoration-accent-800 hover:text-accent-700 hover:decoration-accent-900;
}
.content-image-caption em {
	font-style: normal;
}

/* Footnotes */
.content > .footnotes ol {
	@apply prose-sm max-w-content;
}
.content > .footnotes ol li::marker {
	@apply text-xs;
	font-style: italic;
	margin-top: -5px;
}
.content .footnotes li p {
	margin: 0;
}
.content [data-footnote-ref]::before,
.content [data-footnote-ref]::after {
	@apply font-light text-accent-300;
}
[data-mode='dark'] .content [data-footnote-ref]::before,
[data-mode='dark'] .content [data-footnote-ref]::after {
	@apply text-accent-400;
}

.content [data-footnote-ref]::before {
	content: '[';
	margin-inline-start: 1px;
}
.content [data-footnote-ref]::after {
	content: ']';
}
.content [data-footnote-ref],
.content [data-footnote-backref] {
	@apply font-medium select-none;
	text-decoration-line: none;
}

/** Inserted by remark-rehype for use with the footnotes label */
.sr-only {
	@apply sr-only;
}
