@import 'tailwindcss';

/** Theme styling */
@import './theme/config.css';
@import './theme/colors.css';
@import './theme/fonts.css';
@import './theme/typography.css';

/** Component styling */
@import './background.css';
@import './content.css';
@import './carousel.css';
@import './i18n.css';
@import './loading.css';

/** 2025Q1 there seems to be a bug with Astro where Tailwind won't detect all classes in client code */
/** Currently the workaround is to explicitly name the path as a source */
@source '../../packages/react-map-component';

/** These custom properties are defined outside Tailwind's system */
:root {
	--content-bar: '|';
	--content-bullet: '\2022';
	--content-chevron: '\203A';
	--content-dot: '\00B7';
	--content-slash: '/';
}

html {
	scrollbar-gutter: stable;
}
