@import 'tailwindcss' source(none);

/** Tailwind usually scans everything for class names but for performance reasons we're explicitly naming paths and file types here */
@source '../**/*.astro';
@source '../../packages/react-map-component/src/**/*.tsx';

/** Theme styling */
@import './theme/config.css';
@import './theme/colors.css';
@import './theme/fonts.css';
@import './theme/typography.css';

/** Component styling */
@import './background.css';
@import './content.css';
@import './carousel.css';
@import './i18n.css';
@import './loading.css';

/** These custom properties are defined outside Tailwind's system */
:root {
	--content-bar: '|';
	--content-bullet: '\2022';
	--content-chevron: '\203A';
	--content-dot: '\00B7';
	--content-slash: '/';
}

html {
	scrollbar-gutter: stable;
}
