@import 'tailwindcss';

/** Enable dark mode with a custom selector */
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

/* Spacing */
@theme {
	--spacing-small: 1rem;
	--spacing-medium: 2rem;
	--spacing-content: 60.25rem; /* 964px = 900px + 4rem (for content padding) */
}

@import './theme/colors.css';
@import './theme/fonts.css';
@import './theme/typography.css';

/** 2025Q1 there seems to be a bug with Astro where Tailwind won't detect all classes in client code */
/** Currently the workaround is to explicitly name the path as a source */
@source '../../packages/react-map-component';

@import './background.css';
@import './content.css';
@import './carousel.css';
@import './loading.css';

/** These custom properties are defined outside Tailwind's system */
:root {
	--content-bar: '|';
	--content-bullet: '\2022';
	--content-chevron: '\203A';
	--content-dot: '\00B7';
	--content-slash: '/';
}

html {
	scrollbar-gutter: stable;
}

html:not([lang^='zh']) span[lang^='zh'] {
	font-style: normal !important; /* Never italicize Chinese characters */
	text-decoration: none !important;
	word-break: keep-all !important; /* Magic property for CJK text: keeps characters together but also line breaks without overflow */
}
