@import 'tailwindcss' source(none);

/** 
 * Tailwind usually scans everything for class names
 * For performance reasons we're explicitly naming paths and file types here:
 * 1) CSS files, for which we need to check @apply rules and CSS variable names
 * 2) Astro files
 * 3) React component files
 */
@source './**/*.css';
@source '../**/*.astro';
@source '../../packages/react-map-component/src/**/*.tsx';

/** Theme styling */
@import './theme/config.css';
@import './theme/colors.css';
@import './theme/fonts.css';
@import './theme/typography.css';

/** Component styling */
@import './background.css';
@import './content.css';
@import './i18n.css';
@import './loading.css';

/** These custom properties are defined outside Tailwind's system */
:root {
	--content-bar: '|';
	--content-bullet: '\2022';
	--content-chevron: '\203A';
	--content-dot: '\00B7';
	--content-slash: '/';
}

html {
	scrollbar-gutter: stable;
}
