@reference "./global.css";

/** Popup */
div.maplibregl-popup-content {
	overflow: auto;
	padding: 0;
}
div.maplibregl-popup-content a:focus {
	outline: none;
}
button.maplibregl-popup-close-button {
	border-bottom-left-radius: 3px;
	color: white;
	mix-blend-mode: difference;
	font-size: 16px;
	width: 20px;
}
@media (max-width: 639px) {
	button.maplibregl-popup-close-button {
		font-size: 18px;
		height: 25px;
		width: 25px;
	}
}
button.maplibregl-popup-close-button:focus {
	outline: none;
}
[data-mode='dark'] .maplibregl-popup-content {
	@apply bg-primary-950;
}
[data-mode='dark'] .maplibregl-popup-anchor-left .maplibregl-popup-tip {
	@apply border-r-primary-950;
}
[data-mode='dark'] .maplibregl-popup-anchor-right .maplibregl-popup-tip {
	@apply border-l-primary-950;
}
[data-mode='dark'] .maplibregl-popup-anchor-top .maplibregl-popup-tip {
	@apply border-b-primary-950;
}
[data-mode='dark'] .maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
	@apply border-t-primary-950;
}

/** Controls */
.maplibregl-ctrl-group {
	overflow: hidden;
}
.maplibregl-ctrl-attrib,
.maplibregl-ctrl-scale,
.maplibregl-ctrl-metrics {
	@apply font-sans;
	user-select: none;
}

/** Scale and metrics controls */
.maplibregl-ctrl-bottom-left {
	display: flex;
	font-size: 10px;
}
.maplibregl-ctrl-metrics-loading {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.maplibregl-ctrl-metrics {
	@apply text-primary-600;
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	gap: 2px;
	height: 100%;
}
[data-mode='dark'] .maplibregl-ctrl-metrics {
	@apply text-primary-300;
}
.maplibregl-ctrl-metrics-divider {
	@apply text-primary-400;
}
[data-mode='dark'] .maplibregl-ctrl-metrics-divider {
	@apply text-primary-500;
}
.maplibregl-ctrl-scale {
	@apply rounded-br-xs rounded-bl-xs border-r border-b border-l;
	@apply border-primary-400 text-primary-600;
	background-color: transparent;
}
[data-mode='dark'] .maplibregl-ctrl-scale {
	@apply border-primary-500 text-primary-300;
	background-color: transparent;
}
