@reference "./global.css";

/** Popup */
div.maplibregl-popup-content {
	overflow: auto;
	padding: 0;
}
div.maplibregl-popup-content a:focus {
	outline: none;
}
button.maplibregl-popup-close-button {
	border-bottom-left-radius: 3px;
	color: white;
	mix-blend-mode: difference;
	font-size: 16px;
	width: 20px;
}
@media (max-width: 639px) {
	button.maplibregl-popup-close-button {
		font-size: 18px;
		height: 25px;
		width: 25px;
	}
}
button.maplibregl-popup-close-button:focus {
	outline: none;
}
.maplibregl-popup-content {
	@apply dark:bg-primary-950;
}
.maplibregl-popup-anchor-left .maplibregl-popup-tip {
	@apply dark:border-r-primary-950;
}
.maplibregl-popup-anchor-right .maplibregl-popup-tip {
	@apply dark:border-l-primary-950;
}
.maplibregl-popup-anchor-top .maplibregl-popup-tip {
	@apply dark:border-b-primary-950;
}
.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
	@apply dark:border-t-primary-950;
}

/** Controls */
.maplibregl-ctrl-attrib,
.maplibregl-ctrl-scale {
	@apply select-none;
}
.maplibregl-ctrl-scale {
	@apply text-primary-600 dark:text-primary-300 dark:border-primary-500 border-primary-400 bg-transparent dark:bg-transparent;
	@apply rounded-br-sm rounded-bl-sm border-r border-b border-l font-sans text-shadow-sm;
}
