---
import type { HTMLAttributes } from 'astro/types';

import { transformMarkdown } from '@xsynaptic/unified-tools';

import type { ImageComponentProps } from '#components/parts/image.astro';

import ContentSection from '#components/content/content-section.astro';
import ImagePlaceholder from '#components/image/image-placeholder.astro';
import CardFrame from '#components/parts/card-frame.astro';
import Image from '#components/parts/image.astro';
import Link from '#components/parts/link.astro';
import ProseDescription from '#components/parts/prose-description.astro';
import { getImageByIdFunction } from '#lib/collections/images/images-utils.ts';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import { getImageSrcsetWidths, ImageSizeEnum } from '#lib/image/image-layout.ts';
import { MicroformatClassNames } from '#lib/utils/microformats.ts';
import { getSiteUrl } from '#lib/utils/routing.ts';
import { sanitizeAltAttribute } from '#lib/utils/text.ts';

type Props = HTMLAttributes<'div'> & {
	showAuthor?: boolean | undefined;
};

const { class: className, showAuthor = false, ...props } = Astro.props;

const IMAGE_SRC = 'v/a-synaptic-2025-1.jpg';

async function getImageProps() {
	const getImageById = await getImageByIdFunction();

	const imageEntry = getImageById(IMAGE_SRC);

	if (!imageEntry) return { imageEntry: undefined, imageProps: undefined, placeholder: undefined };

	return {
		imageEntry,
		imageProps: {
			src: IMAGE_SRC,
			breakpoints: getImageSrcsetWidths({ maxWidth: ImageSizeEnum.Large }),
			sizes: '(max-width: 640px) 150px, 150px',
			alt: sanitizeAltAttribute('Profile photo of Alexander Synaptic, founder of Spectral Codex'),
			unstyled: true,
			operations: {
				fit: 'cover',
			},
		} satisfies ImageComponentProps,
		placeholder: imageEntry.data.placeholder,
	};
}

const { imageProps, placeholder } = await getImageProps();

const t = getTranslations();
---

<ContentSection
	class:list={[
		showAuthor ? undefined : 'sr-only',
		MicroformatClassNames.Card,
		MicroformatClassNames.Author,
		className,
	]}
	data-pagefind-ignore
	data-nosnippet
	{...props}
>
	<Fragment slot="section-title">{t('content.section.author')}</Fragment>
	<div class="flex items-start gap-4">
		<CardFrame class:list={['w-[90px] shrink-0 sm:w-[150px] md:w-[200px]']}>
			{
				imageProps ? (
					<ImagePlaceholder
						class="relative overflow-hidden rounded-xs grayscale"
						placeholder={placeholder}
					>
						<Image class:list={['aspect-square', MicroformatClassNames.Photo]} {...imageProps} />
					</ImagePlaceholder>
				) : undefined
			}
			<div class="prose-primary prose mt-1 flex flex-col gap-1 font-serif">
				<Link
					class:list={['text-sm font-semibold', MicroformatClassNames.Url]}
					href={getSiteUrl('/about')}
					rel="me"><span class={MicroformatClassNames.Name}>{t('author.name')}</span></Link
				>
				<div class="text-xs">
					<span class={MicroformatClassNames.Role}>{t('author.role')}</span>, <Link
						class:list={['italic', MicroformatClassNames.Card, MicroformatClassNames.Organization]}
						href={getSiteUrl()}>{t('site.title')}</Link
					>
				</div>
			</div>
		</CardFrame>
		<ProseDescription>
			<Fragment set:html={transformMarkdown({ input: t('author.description') })} />
		</ProseDescription>
	</div>
</ContentSection>
