---
import type { CollectionEntry } from 'astro:content';

import DividedItem from '#components/parts/divided-item.astro';
import Link from '#components/parts/link.astro';
import ListRow from '#components/parts/list-row.astro';
import { getRegionAncestorsFunction } from '#lib/collections/regions/regions-utils.ts';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import { getContentUrl } from '#lib/utils/routing.ts';

interface Props {
	entry: CollectionEntry<'regions'>;
	showCurrentLink?: boolean;
	hasHeroImage?: boolean;
}

const { entry, showCurrentLink = false, hasHeroImage = false, ...props } = Astro.props;

const getRegionAncestors = await getRegionAncestorsFunction();

const termAncestors = getRegionAncestors(entry).toReversed();

const t = getTranslations();
---

{
	termAncestors.length > 0 ? (
		<nav class="inline sm:flex" aria-label={t('site.breadcrumbs.label')} data-pagefind-ignore {...props}>
			<ListRow as="ol" class="text-sm">
				{termAncestors.map((termAncestor) => (
					<DividedItem
						as="li"
						dividerContent="chevron"
						hasHeroImage={hasHeroImage}
						aria-current={termAncestor.id === entry.id ? 'page' : undefined}
					>
						{!showCurrentLink && termAncestor.id === entry.id ? (
							termAncestor.data.title
						) : (
							<Link
								href={getContentUrl('regions', termAncestor.id)}
								linkColor={hasHeroImage ? 'accent-featured' : 'accent'}
							>
								{termAncestor.data.title}
							</Link>
						)}
					</DividedItem>
				))}
			</ListRow>
		</nav>
	) : undefined
}
