---
import Search from 'astro-pagefind/components/Search';

import '#styles/pagefind.css';
---

<div>
	<Search
		id="search"
		className="pagefind-ui"
		uiOptions={{
			pageSize: 10,
			showImages: false,
			resetStyles: false,
			showEmptyFilters: false,
			showSubResults: true,
			ranking: {
				pageLength: 0.5,
				termFrequency: 0.8,
			},
		}}
	/>
</div>
