---
import MainColophon from '#components/main/main-colophon.astro';
import MenuFooter from '#components/menu/menu-footer.astro';
import Container from '#components/parts/container.astro';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';

const t = getTranslations();
---

<Container as="footer" class="mb-medium mt-medium w-full pt-4">
	<div
		class:list={[
			'pb-medium pt-small border-t',
			'border-primary-200 text-primary-400 dark:border-primary-700 dark:text-primary-700',
		]}
	>
		<nav class="pb-small text-sm" aria-label={t('site.menu.footer.label')}>
			<MenuFooter />
		</nav>
		<MainColophon />
	</div>
</Container>
