---
import Search from 'astro-pagefind/components/Search';

import MenuHeader from '#components/main/main-header-menu.astro';
import ModeToggle from '#components/main/main-mode-toggle.astro';
import SkipLink from '#components/main/main-skip-link.astro';
import Container from '#components/parts/container.astro';
import Link from '#components/parts/link.astro';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import { getSiteUrl } from '#lib/utils/routing.ts';
import '#styles/pagefind.css';

interface Props {
	hasHeroImage: boolean;
}

const { hasHeroImage } = Astro.props;

const siteUrl = getSiteUrl();

const t = getTranslations();
---

<header
	class:list={[
		'transition-colors',
		'z-40',
		hasHeroImage
			? 'bg-header-fade sm:absolute sm:top-0 sm:right-0 sm:left-0 dark:bg-header-fade-dark'
			: 'bg-primary-100 dark:bg-primary-800',
	]}
>
	<SkipLink
		class:list={[
			'rounded-br-sm px-small py-1 font-display uppercase transition-colors',
			'bg-primary-50 text-accent-500 hover:text-accent-400 dark:bg-primary-800 dark:text-accent-400 dark:hover:text-accent-300',
		]}
		target="#content"
		label={t('site.skip.label')}
	/>
	<Container
		as="div"
		class="flex flex-wrap items-center justify-between gap-x-2 gap-y-2 pt-2 sm:pb-1"
		><h2 class="flex grow items-center gap-1">
			<Link href={siteUrl} class="text-xl font-semibold md:text-2xl lg:text-3xl" linkColor="primary"
				>{t('site.title')}</Link
			>
		</h2>
		<div>
			<Search
				id="search"
				className="pagefind-ui"
				uiOptions={{
					pageSize: 10,
					showImages: false,
					resetStyles: false,
					showEmptyFilters: false,
					showSubResults: true,
					ranking: {
						pageLength: 0.5,
						termFrequency: 0.8,
					},
				}}
			/>
		</div>
		<ModeToggle />
	</Container>
	<Container class="w-full overflow-x-clip" fillViewport={true}>
		<MenuHeader hasHeroImage={hasHeroImage} />
	</Container>
</header>
