---
import type { HTMLAttributes } from 'astro/types';

/**
 * Adapted from the Accessible Astro Components library
 * @link https://github.com/incluud/accessible-astro-components
 */
interface Props extends HTMLAttributes<'div'> {
	parentClass?: string | undefined;
	target?: string | undefined;
	label: string;
}

const { class: className, parentClass, target = '#content', label, ...props } = Astro.props;
---

<div class:list={['skip-link', parentClass]} {...props}>
	<a
		href={target}
		class:list={[
			'absolute z-9999 hover:outline-2 hover:outline-current focus-visible:outline-2 focus-visible:outline-current',
			className,
		]}>{label}</a
	>
</div>

<style>
	:where(.skip-link a) {
		transition: translate 0.2s ease-in-out;
		translate: 0 -100vh;
		inset-inline-start: 0;
	}
	:where(.skip-link a:hover),
	:where(.skip-link a:focus-visible) {
		translate: 0 0;
	}
	@media (prefers-reduced-motion: reduce) {
		:where(.skip-link a) {
			transition: none;
		}
	}
</style>
