---
import type { HTMLAttributes } from 'astro/types';

import { getTranslations } from '#lib/i18n/i18n-translations.ts';

type Props = HTMLAttributes<'div'>;

const props = Astro.props;

const t = getTranslations();
---

<script>
	import '#lib/components/mode-toggle.ts';
</script>

<mode-toggle
	class:list={[
		'flex cursor-pointer items-center justify-center rounded-full opacity-60 transition-opacity hover:opacity-100',
	]}
	transition:persist
	{...props}
>
	<button class="text-primary-700 dark:text-primary-300" aria-label={t('site.mode.toggle.label')}>
		<svg
			class="hidden dark:block"
			xmlns="http://www.w3.org/2000/svg"
			width="24"
			height="24"
			viewBox="0 0 24 24"
			aria-hidden="true"
			><g
				fill="none"
				stroke="currentColor"
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				><circle cx="12" cy="12" r="4"></circle><path
					d="M12 3v1m0 16v1m-9-9h1m16 0h1m-2.636-6.364l-.707.707M6.343 17.657l-.707.707m0-12.728l.707.707m11.314 11.314l.707.707"
				></path></g
			></svg
		>
		<svg
			class="block dark:hidden"
			xmlns="http://www.w3.org/2000/svg"
			width="24"
			height="24"
			viewBox="0 0 24 24"
			aria-hidden="true"
			><path
				fill="none"
				stroke="currentColor"
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				d="M12 3a6 6 0 0 0 9 9a9 9 0 1 1-9-9"></path></svg
		>
	</button>
</mode-toggle>
