---
import MainSearch from '#components/main/main-search.astro';
import MainSkipLink from '#components/main/main-skip-link.astro';
import MenuHeader from '#components/menu/menu-header.astro';
import ModeToggle from '#components/mode/mode-toggle.astro';
import Container from '#components/parts/container.astro';
import Link from '#components/parts/link.astro';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import { getSiteUrl } from '#lib/utils/routing.ts';

interface Props {
	hasHeroImage: boolean;
}

const { hasHeroImage } = Astro.props;

const siteUrl = getSiteUrl();

const t = getTranslations();
---

<header
	class:list={[
		'transition-colors',
		hasHeroImage
			? 'bg-header-fade dark:bg-header-fade-dark z-40 sm:absolute sm:top-0 sm:right-0 sm:left-0'
			: 'bg-primary-100 dark:bg-primary-800',
	]}
>
	<MainSkipLink target="#content" label={t('site.skip.label')} />
	<Container
		as="div"
		class="flex flex-wrap items-center justify-between gap-x-2 gap-y-2 pt-2 sm:pb-1"
		><h2 class="flex flex-grow items-center gap-1">
			<Link href={siteUrl} class="text-xl font-semibold md:text-2xl lg:text-3xl" linkColor="primary"
				>{t('site.title')}</Link
			>
		</h2>
		<MainSearch />
		<ModeToggle />
	</Container>
	<MenuHeader hasHeroImage={hasHeroImage} />
</header>
