---
import type { ImageFeaturedObjectWithCaptionMetadata } from '#lib/image/image-featured.ts';

import ImageHeroCarouselItem from '#components/image-hero/image-hero-carousel-item.astro';
import ImageHeroFrame from '#components/image-hero/image-hero-frame.astro';

interface Props {
	hasHeroImage: boolean;
	imageFeaturedGroup?: Array<ImageFeaturedObjectWithCaptionMetadata> | undefined;
	withTitle?: boolean | undefined;
	class?: string | undefined;
}

const { hasHeroImage, imageFeaturedGroup, withTitle, class: className } = Astro.props;
---

{
	hasHeroImage && imageFeaturedGroup ? (
		<ImageHeroFrame withTitle={withTitle} class={className}>
			<div class="carousel-container">
				{imageFeaturedGroup.map((imageFeaturedGroupItem, index) => (
					<ImageHeroCarouselItem index={index} {...imageFeaturedGroupItem} />
				))}
			</div>
			<slot />
		</ImageHeroFrame>
	) : (
		<slot />
	)
}
