---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
	class?: string | undefined;
}

const { class: className, ...props } = Astro.props;
---

<div class:list={[className, 'sm:relative', 'dark:sm-bg-primary-300 sm:bg-primary-300']} {...props}>
	<div
		class:list={[
			'pointer-events-none top-0 right-0 left-0 z-20 block h-0 w-full text-transparent select-none sm:absolute sm:h-[15vh] md:h-[20vh] lg:h-[25vh]',
			'sm:bg-featured-a',
		]}
	>
	</div><slot /><div
		class:list={[
			'pointer-events-none right-0 bottom-0 left-0 z-20 block h-0 w-full select-none sm:absolute sm:min-h-[20vh] md:h-[25vh] lg:h-[30vh]',
			'sm:bg-featured-b',
		]}
	>
	</div>
</div>
