---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
	withTitle?: boolean | undefined;
}

const { withTitle = true, class: className, ...props } = Astro.props;
---

<div class:list={['sm:relative', 'dark:sm-bg-primary-300 sm:bg-primary-300', className]} {...props}>
	<div
		class:list={[
			'pointer-events-none top-0 right-0 left-0 z-20 block h-0 w-full text-transparent select-none sm:absolute sm:h-[15vh] md:h-[20vh] lg:h-[25vh]',
			'sm:bg-featured-a',
		]}
	>
	</div><slot /><div
		class:list={[
			'pointer-events-none right-0 bottom-0 left-0 z-20 block h-0 w-full select-none sm:absolute',
			withTitle ? 'sm:min-h-[20vh] md:h-[25vh] lg:h-[30vh]' : 'sm:min-h-[50px]',
			'sm:bg-featured-b',
		]}
	>
	</div>
</div>
