---
import type { ImageSetWithMetadata } from '#lib/image/image-set.ts';

import ImageHeroCarouselItem from '#components/image-hero/image-hero-carousel-item.astro';
import ImageHeroFrame from '#components/image-hero/image-hero-frame.astro';

interface Props {
	imageSet: Array<ImageSetWithMetadata>;
	class?: string | undefined;
}

const { imageSet, class: className } = Astro.props;
---

<ImageHeroFrame class={className}>
	<div class="carousel">
		{
			imageSet.map((imageSetItem, index) => (
				<ImageHeroCarouselItem index={index} {...imageSetItem} />
			))
		}
	</div>
	<slot />
</ImageHeroFrame>
