---
import type { ImageFeaturedObjectWithCaptionMetadata } from '#lib/image/image-featured.ts';

import ImageHeroCarouselItem from '#components/image-hero/image-hero-carousel-item.astro';
import ImageHeroFrame from '#components/image-hero/image-hero-frame.astro';

interface Props {
	imageFeaturedGroup: Array<ImageFeaturedObjectWithCaptionMetadata>;
	class?: string | undefined;
}

const { imageFeaturedGroup, class: className } = Astro.props;
---

<ImageHeroFrame class={className}>
	<div class="carousel-container">
		{
			imageFeaturedGroup.map((imageFeaturedGroupItem, index) => (
				<ImageHeroCarouselItem index={index} {...imageFeaturedGroupItem} />
			))
		}
	</div>
	<slot />
</ImageHeroFrame>
