---
import MenuHeader from '#components/menu/menu-header.astro';
import Container from '#components/parts/container.astro';
import Link from '#components/parts/link.astro';
import ThemeToggle from '#components/theme/theme-toggle.astro';
import { FEATURE_DARK_MODE } from '#constants.ts';
import { getTranslations } from '#lib/utils/i18n.ts';
import { getSiteUrl } from '#lib/utils/routing.ts';

interface Props {
	hasHeroImage: boolean;
}

const { hasHeroImage } = Astro.props;

const siteUrl = getSiteUrl();

const t = getTranslations();
---

<header
	class:list={[
		hasHeroImage
			? 'bg-header-fade dark:bg-header-fade-dark z-50 sm:absolute sm:top-0 sm:right-0 sm:left-0'
			: 'bg-primary-100 dark:bg-primary-800',
	]}
>
	<a href="#content" class="sr-only focus:not-sr-only">{t('site.skip.label')}</a>
	<Container as="div" class="flex flex-wrap items-center pt-2 sm:pb-1"
		><h2 class="flex flex-grow items-center gap-1">
			<Link href={siteUrl} class="text-xl font-semibold md:text-2xl lg:text-3xl" linkColor="primary"
				>{t('site.title')}</Link
			>
		</h2>{FEATURE_DARK_MODE ? <ThemeToggle /> : undefined}</Container
	>
	<Container as="nav">
		<MenuHeader hasHeroImage={hasHeroImage} />
	</Container>
</header>
