---
import { ClientRouter } from 'astro:transitions';

import type { MetaProps } from '@/components/base/base-meta.astro';

import '@fontsource-variable/commissioner';
import '@fontsource-variable/geologica';
import '@fontsource-variable/lora';

import '@fontsource-variable/lora/wght-italic.css';
import '@/styles/global.css';

import BaseFooter from '@/components/base/base-footer.astro';
import BaseHeader from '@/components/base/base-header.astro';
import BaseMeta from '@/components/base/base-meta.astro';
import LoadingBar from '@/components/progress-bar/progress-bar-loading.astro';
import ReadingBar from '@/components/progress-bar/progress-bar-reading.astro';
import ThemeManager from '@/components/theme/theme-manager.astro';
import { getSiteUrl } from '@/lib/utils/routing';

interface Props {
	meta?: MetaProps;
	hasHeroImage?: boolean;
	hasReadingBar?: boolean;
}

const { hasHeroImage = false, hasReadingBar, meta } = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href={`${getSiteUrl()}favicon.svg`} />
		<BaseMeta meta={meta} />
		<ThemeManager defaultTheme="auto" />
		<ClientRouter />
	</head>
	<body
		class:list={[
			'flex min-h-screen min-w-[350px] flex-col overscroll-contain transition-colors',
			'bg-primary-100 text-primary-700 dark:bg-primary-800 dark:text-primary-400',
		]}
	>
		<BaseHeader hasHeroImage={hasHeroImage} />
		<main id="content" class="flex-1">
			<slot />
		</main>
		<BaseFooter />
		<LoadingBar />
		{hasReadingBar ? <ReadingBar /> : undefined}
	</body>
</html>
