---
import type { HTMLAttributes } from 'astro/types';

import DividedItem from '#components/parts/divided-item.astro';
import Link from '#components/parts/link.astro';
import { getSiteUrl } from '#lib/utils/routing.ts';

interface Props extends HTMLAttributes<'div'> {
	currentYear?: string | undefined;
	years: Array<string>;
}

const { currentYear, years, ...props } = Astro.props;
---

{
	years.length > 0 ? (
		<div class="flex flex-wrap gap-1" {...props}>
			{years.map((year) => (
				<DividedItem>
					{currentYear === year ? (
						<span class="text-primary-600 text-sm font-semibold">{year}</span>
					) : (
						<Link class="text-sm" href={getSiteUrl('timeline', year)}>
							{year}
						</Link>
					)}
				</DividedItem>
			))}
		</div>
	) : undefined
}
