---
import type { HTMLAttributes } from 'astro/types';

import type { ContentMetadataItem } from '#lib/metadata/metadata-types.ts';

import DateDisplay from '#components/parts/date-display.astro';
import Link from '#components/parts/link.astro';

interface Props extends HTMLAttributes<'ul'> {
	timelineItems: Array<ContentMetadataItem>;
}

const { timelineItems, ...props } = Astro.props;
---

<ul class="mb-small" {...props}>
	{
		timelineItems.map(({ title, url, date }) => (
			<li class="mb-small">
				<h2 class="text-xl font-semibold sm:text-lg">
					<Link href={url}>{title}</Link>
				</h2>
				<div class="text-xs font-medium sm:text-sm">
					<DateDisplay date={date} />
				</div>
			</li>
		))
	}
</ul>
