---
import type { HTMLAttributes } from 'astro/types';

import DividedItem from '#components/parts/divided-item.astro';
import Link from '#components/parts/link.astro';
import { getSiteUrl } from '#lib/utils/routing.ts';

interface Props extends HTMLAttributes<'div'> {
	currentYear?: string | undefined;
	currentMonth?: string | undefined;
	timelineYears: Array<string>;
	timelineMonths?: Array<string> | undefined;
}

const { currentYear, currentMonth, timelineYears, timelineMonths, ...props } = Astro.props;
---

{
	timelineYears.length > 0 ? (
		<div class="text-primary-500 dark:text-primary-400 flex flex-wrap gap-1 text-sm" {...props}>
			{timelineYears.map((timelineYear) => (
				<DividedItem>
					{currentYear === timelineYear ? (
						<span class="text-primary-600 font-semibold">{timelineYear}</span>
					) : (
						<Link href={getSiteUrl('timeline', timelineYear)}>{timelineYear}</Link>
					)}
				</DividedItem>
			))}
		</div>
	) : undefined
}
{
	currentYear && currentMonth && timelineMonths && timelineMonths.length > 0 ? (
		<div class="text-primary-500 dark:text-primary-400 flex flex-wrap gap-1 text-sm">
			{timelineMonths
				.sort((monthA, monthB) => monthA.localeCompare(monthB))
				.map((monthNumber) => {
					const monthName = new Date(0, Number(monthNumber) - 1).toLocaleDateString('default', {
						month: 'long',
					});

					return (
						<DividedItem>
							{currentMonth === monthNumber ? (
								<span class="text-primary-600 font-semibold">{monthName}</span>
							) : (
								<Link href={getSiteUrl('timeline', currentYear, monthNumber)}>{monthName}</Link>
							)}
						</DividedItem>
					);
				})}
		</div>
	) : undefined
}
