---
import type { HTMLAttributes } from 'astro/types';

import * as R from 'remeda';

import DividedItem from '#components/parts/divided-item.astro';
import Link from '#components/parts/link.astro';
import { getSiteUrl } from '#lib/utils/routing.ts';

interface Props extends HTMLAttributes<'div'> {
	currentMonth?: string | undefined;
	currentYear?: string | undefined;
	timelineYears: Array<string>;
}

const { currentMonth, currentYear, timelineYears, ...props } = Astro.props;
---

{
	timelineYears.length > 0 ? (
		<div class="flex flex-wrap gap-1" {...props}>
			{timelineYears.map((timelineYear) => (
				<DividedItem>
					{currentYear === timelineYear ? (
						<span class="text-primary-600 text-sm font-semibold">{timelineYear}</span>
					) : (
						<Link class="text-sm" href={getSiteUrl('timeline', timelineYear)}>
							{timelineYear}
						</Link>
					)}
				</DividedItem>
			))}
		</div>
	) : undefined
}
{
	currentYear && currentMonth ? (
		<div class="flex flex-wrap gap-1">
			{R.range(1, 13).map((month) => {
				const monthNumber = month.toString().padStart(2, '0');
				const monthName = new Date(0, month - 1).toLocaleDateString('default', { month: 'long' });

				return (
					<DividedItem>
						{currentMonth === monthNumber ? (
							<span class="text-primary-600 text-sm font-semibold">{monthName}</span>
						) : (
							<Link class="text-sm" href={getSiteUrl('timeline', currentYear, monthNumber)}>
								{monthName}
							</Link>
						)}
					</DividedItem>
				);
			})}
		</div>
	) : undefined
}
