/* A little texture for the header */
.bg-header-fade {
	--bg-fade-lightness: 96%;

	background-image: linear-gradient(
		180deg,
		hsl(0deg 0% var(--bg-fade-lightness) / 90%),
		hsl(0deg 0% var(--bg-fade-lightness) / 89.6%) 22.97%,
		hsl(0deg 0% var(--bg-fade-lightness) / 88.5%) 42.13%,
		hsl(0deg 0% var(--bg-fade-lightness) / 86.9%) 57.81%,
		hsl(0deg 0% var(--bg-fade-lightness) / 84.8%) 70.37%,
		hsl(0deg 0% var(--bg-fade-lightness) / 82.5%) 80.15%,
		hsl(0deg 0% var(--bg-fade-lightness) / 80%) 87.5%,
		hsl(0deg 0% var(--bg-fade-lightness) / 77.5%) 92.77%,
		hsl(0deg 0% var(--bg-fade-lightness) / 75.2%) 96.3%,
		hsl(0deg 0% var(--bg-fade-lightness) / 73.1%) 98.44%,
		hsl(0deg 0% var(--bg-fade-lightness) / 71.5%) 99.54%,
		hsl(0deg 0% var(--bg-fade-lightness) / 70.4%) 99.94%,
		hsl(0deg 0% var(--bg-fade-lightness) / 70%)
	);
	background-repeat: no-repeat;

	[data-mode='dark'] & {
		--bg-fade-lightness: 18%;
	}
}

/* This fallback pattern is a seamless seigaiha (青海波) pattern */
.bg-fallback {
	background-color: var(--color-primary-200);
	background-image: url('/seigaiha-light.svg');
	background-repeat: repeat;

	[data-mode='dark'] & {
		background-color: var(--color-primary-700);
		background-image: url('/seigaiha-dark.svg');
		background-repeat: repeat;
	}
}

/* Placeholder image; used in many places in this project */
.bg-placeholder {
	image-rendering: pixelated;
	background-color: var(--color-primary-200);
	background-position: center;
	background-size: cover;

	[data-mode='dark'] & {
		background-color: var(--color-primary-700);
	}
}
