/* Carousel; adapted from Daisy UI */
.carousel-container {
	display: flex;
	overflow-x: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	scroll-snap-align: start;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.carousel-container::-webkit-scrollbar {
	display: none;
}

.carousel-item {
	box-sizing: content-box;
	display: flex;
	flex: none;
	width: 100%;
	scroll-snap-align: start;
}

.carousel-nav {
	@apply rounded-full bg-white/25 text-white grayscale transition-all duration-200;

	position: absolute;
	top: 50%;
	display: none;
	align-items: center;
	justify-content: center;
	width: calc(var(--spacing) * 12);
	height: calc(var(--spacing) * 12);
	pointer-events: auto;
	cursor: pointer;
	opacity: 0;
	translate: 0 -50%;

	@media (width >= 64rem) {
		display: flex;
	}

	&:hover,
	&:focus-visible {
		@apply bg-white/50 text-white/80;
	}

	&:active {
		scale: 0.95;
	}
}

.carousel-group:focus-within .carousel-nav,
.carousel-group:hover .carousel-nav {
	opacity: 1;
}

.carousel-nav svg {
	width: calc(var(--spacing) * 8);
	height: calc(var(--spacing) * 8);
}

.carousel-nav-prev {
	left: 0.5em;
}

.carousel-nav-prev svg {
	@apply -translate-x-0.5;
}

.carousel-nav-next {
	right: 0.5em;
}

.carousel-nav-next svg {
	@apply translate-x-0.5;
}
