/**
 * Content-blocks: direct children get constrained to the content column
 * Images and image groups can have wide or full layout, spanning the viewport 
 */
.c-block > *:not(.c-escape) {
	@apply mx-auto max-w-content px-4 md:px-8;
}

/* Standard content image component */
.c-wrap {
	@apply mb-2;

	font-size: var(--text-sm);
	line-height: calc(24 / 14);
}

.c-wrap.c-default {
	@apply mx-auto max-w-content sm:px-4 md:mb-4 md:px-8;
}

.c-wrap.c-wide {
	@apply sm:px-4 md:px-8;

	width: 100%;
}

.c-wrap.c-full {
	width: 100%;
}

.c-wrap,
.c-wrap + p {
	margin-top: 0;
}

.c-wrap .i-placeholder {
	position: relative;
	overflow: hidden;

	@media (width >= 40rem) {
		border-radius: var(--radius-xs);
	}
}

.c-wrap.c-full .i-placeholder {
	@media (width >= 40rem) {
		border-radius: 0;
	}
}

.c-wrap .i-image {
	margin: 0;
	color: transparent;
}

/* Content image caption styling */
.c-caption {
	padding-block: calc(var(--spacing) * 1);
	padding-inline: calc(var(--spacing) * 4);
	font-style: italic;
	color: var(--color-primary-500);
}

[data-mode='dark'] .c-caption {
	color: var(--color-primary-400);
}

.c-caption em {
	font-style: normal;
}

.c-wrap .c-caption {
	@media (width >= 40rem) {
		padding-inline: 0;
	}
}

.c-wrap.c-full .c-caption {
	@apply mx-auto max-w-content sm:px-4 md:px-8;
}

.c-image-group {
	@apply mb-2 sm:px-4 md:mb-4 md:px-8;
}

.c-image-group.c-default {
	@apply mx-auto max-w-content;
}

.c-image-group.c-wide {
	width: 100%;
}
