/* Link styles; extracted here to avoid repetition in the link component */
.l-all {
	@apply transition-colors ease-linear;
	cursor: pointer;
	color: var(--l-color);
}
.l-all:hover {
	color: var(--l-hover);
}
.l-all.l-active {
	@apply font-semibold;
}

.l-primary {
	--l-color: var(--color-primary-800);
	--l-hover: var(--color-primary-600);
	[data-mode='dark'] &.l-dark {
		--l-color: var(--color-primary-200);
		--l-hover: var(--color-primary-50);
	}
}
.l-primary-bright {
	--l-color: var(--color-primary-300);
	--l-hover: var(--color-primary-100);
	[data-mode='dark'] &.l-dark {
		--l-color: var(--color-primary-600);
		--l-hover: var(--color-primary-300);
	}
}
.l-primary-featured {
	--l-color: var(--color-primary-800);
	--l-hover: var(--color-primary-500);
	@media (width >= 40rem) {
		--l-color: var(--color-primary-200);
		--l-hover: var(--color-primary-50);
	}
	[data-mode='dark'] &.l-dark {
		--l-color: var(--color-primary-200);
		--l-hover: var(--color-primary-50);
		@media (width >= 40rem) {
			--l-color: var(--color-primary-800);
			--l-hover: var(--color-primary-500);
		}
	}
}
.l-highlight {
	--l-color: var(--color-highlight-500);
	--l-hover: var(--color-highlight-300);
	[data-mode='dark'] &.l-dark {
		--l-color: var(--color-highlight-400);
		--l-hover: var(--color-highlight-700);
	}
}
.l-highlight-featured {
	--l-color: var(--color-highlight-500);
	--l-hover: var(--color-highlight-300);
	@media (width >= 40rem) {
		--l-color: var(--color-highlight-300);
		--l-hover: var(--color-highlight-200);
	}
	[data-mode='dark'] &.l-dark {
		--l-color: var(--color-highlight-400);
		--l-hover: var(--color-highlight-700);
		@media (width >= 40rem) {
			--l-color: var(--color-highlight-400);
			--l-hover: var(--color-highlight-200);
		}
	}
}
.l-accent {
	--l-color: var(--color-accent-500);
	--l-hover: var(--color-accent-300);
	[data-mode='dark'] &.l-dark {
		--l-color: var(--color-accent-400);
		--l-hover: var(--color-accent-200);
	}
}
.l-accent-featured {
	--l-color: var(--color-accent-500);
	--l-hover: var(--color-accent-300);
	@media (width >= 40rem) {
		--l-color: var(--color-accent-300);
		--l-hover: var(--color-accent-200);
	}
	[data-mode='dark'] &.l-dark {
		--l-color: var(--color-accent-400);
		--l-hover: var(--color-accent-300);
		@media (width >= 40rem) {
			--l-color: var(--color-accent-300);
			--l-hover: var(--color-accent-200);
		}
	}
}
