/** Loading; adapted from Daisy UI */
.loading-animation {
	display: inline-block;
	aspect-ratio: 1/1;
	pointer-events: none;
	background-color: currentcolor;
	mask-image: url('/loading.svg');
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: 100%;
}
