/* Hook prefix: card- */
.card-preview .image-placeholder {
	overflow: hidden;
	border-radius: var(--radius-xs);
	box-shadow: var(--shadow-sm);
}

.card-preview .image-element {
	aspect-ratio: 3 / 2;
	font-size: var(--text-sm);
	line-height: var(--text-sm--line-height);
	color: transparent;
}

.card-title {
	display: flex;
	flex-wrap: wrap;
	column-gap: calc(var(--spacing) * 1);
	margin-top: calc(var(--spacing) * 1);
	font-size: var(--text-xl);
	line-height: var(--text-xl--line-height);
}

.card-title-ml {
	display: inline;
	font-weight: var(--font-weight-semibold);
	color: light-dark(var(--color-primary-500), var(--color-primary-400));
}

.card-title-link {
	font-family: var(--font-display);
	font-weight: var(--font-weight-bold);
}

.card-subtitle {
	display: flex;
	flex-wrap: wrap;
	gap: calc(var(--spacing) * 1);
	margin-top: calc(var(--spacing) * 0.5);
	font-size: var(--text-sm);
	line-height: var(--text-sm--line-height);
	color: light-dark(var(--color-primary-500), var(--color-primary-400));
}
