.pc .i-placeholder {
	@apply overflow-hidden rounded-xs shadow-sm;
}

.pc .i-image {
	@apply aspect-3/2 text-sm text-transparent;
}

.pc-title {
	@apply text-xl;

	display: flex;
	flex-wrap: wrap;
	column-gap: calc(var(--spacing) * 1);
	margin-top: calc(var(--spacing) * 1);
}

.pc-title-ml {
	@apply font-semibold;

	display: inline-flex;
	color: var(--color-primary-500);

	[data-mode='dark'] & {
		color: var(--color-primary-400);
	}
}

.pc-title-link {
	@apply font-display font-bold transition-colors ease-in;

	color: var(--color-primary-700);

	&:hover,
	&:focus-visible {
		color: var(--color-accent-500);
	}

	[data-mode='dark'] & {
		color: var(--color-primary-300);

		&:hover,
		&:focus-visible {
			color: var(--color-accent-400);
		}
	}
}

.pc-subtitle {
	@apply text-sm;

	display: flex;
	flex-wrap: wrap;
	gap: calc(var(--spacing) * 1);
	margin-top: calc(var(--spacing) * 0.5);
	color: var(--color-primary-500);

	[data-mode='dark'] & {
		color: var(--color-primary-400);
	}
}
