@plugin '@tailwindcss/typography';

@utility prose {
	p {
		margin-top: 0;
	}
	ol,
	ul > li {
		padding-inline-start: 0;
	}
	li {
		margin-top: 0;
		margin-left: 1rem;
		margin-bottom: 0.5rem;
	}
	code {
		&::before,
		&::after {
			display: none;
		}
	}
	blockquote {
		font-weight: 400;
		p {
			&:first-of-type::before,
			&:last-of-type::after {
				display: none;
			}
		}
	}
}

@utility prose-primary {
	--tw-prose-body: var(--color-primary-700);
	--tw-prose-headings: var(--color-primary-900);
	--tw-prose-lead: var(--color-primary-700);
	--tw-prose-links: var(--color-primary-900);
	--tw-prose-bold: var(--color-primary-900);
	--tw-prose-counters: var(--color-accent-300);
	--tw-prose-bullets: var(--color-accent-200);
	--tw-prose-hr: var(--color-primary-300);
	--tw-prose-quotes: var(--color-primary-500);
	--tw-prose-quote-borders: var(--color-primary-200);
	--tw-prose-captions: var(--color-primary-700);
	--tw-prose-code: var(--color-primary-900);
	--tw-prose-pre-code: var(--color-primary-100);
	--tw-prose-pre-bg: var(--color-primary-900);
	--tw-prose-th-borders: var(--color-primary-300);
	--tw-prose-td-borders: var(--color-primary-200);
	--tw-prose-invert-body: var(--color-primary-200);
	--tw-prose-invert-headings: var(--color-white);
	--tw-prose-invert-lead: var(--color-primary-300);
	--tw-prose-invert-links: var(--color-white);
	--tw-prose-invert-bold: var(--color-white);
	--tw-prose-invert-counters: var(--color-primary-400);
	--tw-prose-invert-bullets: var(--color-primary-600);
	--tw-prose-invert-hr: var(--color-primary-700);
	--tw-prose-invert-quotes: var(--color-primary-300);
	--tw-prose-invert-quote-borders: var(--color-primary-700);
	--tw-prose-invert-captions: var(--color-primary-400);
	--tw-prose-invert-code: var(--color-white);
	--tw-prose-invert-pre-code: var(--color-primary-300);
	--tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
	--tw-prose-invert-th-borders: var(--color-primary-600);
	--tw-prose-invert-td-borders: var(--color-primary-700);
}

.prose-x {
	@apply prose prose-base max-w-none font-serif prose-primary lg:prose-lg prose-h2:mb-4 prose-a:text-accent-500 prose-a:decoration-accent-200 prose-a:underline-offset-2 prose-a:transition-colors prose-a:duration-150 prose-a:ease-in prose-a:hover:text-accent-300 prose-a:hover:decoration-accent-100;
}
.prose-x.prose-dark {
	@apply dark:prose-invert dark:prose-a:text-accent-300 dark:prose-a:decoration-accent-500 dark:prose-a:hover:text-accent-200 dark:prose-a:hover:decoration-accent-400;
}
.prose-x.prose-compact {
	@apply prose-sm lg:prose-base;
}

/* Note: the text shadow should match the background for the page */
.prose-x a {
	text-shadow:
		1px 1px 0 var(--color-primary-100),
		-1px 1px 0 var(--color-primary-100),
		2px 0 1px var(--color-primary-100),
		-2px 0 1px var(--color-primary-100);
}
[data-mode='dark'] .prose-x a {
	text-shadow:
		1px 1px 0 var(--color-primary-800),
		-1px 1px 0 var(--color-primary-800),
		2px 0 1px var(--color-primary-800),
		-2px 0 1px var(--color-primary-800);
}

/* Footnotes */
.prose-x > .footnotes ol {
	@apply text-sm leading-normal;
}
.prose-x > .footnotes ol li::marker {
	@apply text-xs;
	font-style: italic;
	margin-top: -5px;
}
.prose-x .footnotes li p {
	margin: 0;
}
.prose-x [data-footnote-ref]::before,
.prose-x [data-footnote-ref]::after {
	@apply font-light;
	color: var(--color-accent-300);
}
[data-mode='dark'] .prose-x [data-footnote-ref]::before,
[data-mode='dark'] .prose-x [data-footnote-ref]::after {
	color: var(--color-accent-400);
}
.prose-x [data-footnote-ref]::before {
	content: '[';
	margin-inline-start: 1px;
}
.prose-x [data-footnote-ref]::after {
	content: ']';
}
.prose-x [data-footnote-ref],
.prose-x [data-footnote-backref] {
	@apply font-medium select-none;
	text-decoration-line: none;
}

/** Inserted by remark-rehype for use with the footnotes label */
.sr-only {
	@apply sr-only;
}
