---
import type { HTMLAttributes } from 'astro/types';

import { getContentMetadataById } from '#lib/metadata/metadata-utils.ts';
import { renderSlot } from '#lib/utils/astro.ts';

interface Props extends HTMLAttributes<'a'> {
	id: string;
}

const { id, ...props } = Astro.props;

const content = await renderSlot(Astro.slots, 'default');

const contentMetadata = await getContentMetadataById(id);
---

{
	contentMetadata?.url ? (
		<a href={contentMetadata.url} {...props}>
			<Fragment set:html={content} />
		</a>
	) : (
		<Fragment set:html={content} />
	)
}
