---
import { ThemeTypeEnum } from '@/components/theme/theme-manager';
---

<select id="theme-select" aria-label="Select Theme" class="w-30 fixed">
	<option value={ThemeTypeEnum.Auto}>Auto</option>
	<option value={ThemeTypeEnum.Light}>Light</option>
	<option value={ThemeTypeEnum.Dark}>Dark</option>
</select>

<script>
	import { themeSelect } from '@/components/theme/theme-select';

	const themeSelectElement = document.querySelector<HTMLSelectElement>('#theme-select');

	themeSelect(themeSelectElement);
</script>
