---
import type { CollectionEntry } from 'astro:content';

import ContentSection from '#components/content/content-section.astro';
import Link from '#components/parts/link.astro';
import ListColumnItem from '#components/parts/list-column-item.astro';
import ListColumn from '#components/parts/list-column.astro';
import TextMultilingual from '#components/parts/text-multilingual.astro';
import { LOCATIONS_NEARBY_COUNT_LIMIT } from '#constants.ts';
import { getLocationsCollection } from '#lib/collections/locations/locations-data.ts';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import { getMultilingualContent } from '#lib/i18n/i18n-utils.ts';
import { getContentUrl } from '#lib/utils/routing.ts';

interface Props {
	entry: CollectionEntry<'locations'>;
	limit?: number | undefined;
}

const { entry, limit = LOCATIONS_NEARBY_COUNT_LIMIT, ...props } = Astro.props;

const { entriesMap: locationsMap } = await getLocationsCollection();

const locationsNearby = entry.data._nearby?.slice(0, limit) ?? [];

const t = getTranslations();
---

{
	locationsNearby.length > 0 ? (
		<ContentSection data-pagefind-ignore data-nosnippet {...props}>
			<Fragment slot="section-title">{t('content.section.locationsNearby')}</Fragment>
			<ListColumn class="font-serif text-xs sm:text-sm">
				{locationsNearby.map(({ locationId, distanceDisplay }) => {
					const location = locationsMap.get(locationId);
					const titleMultilingual = getMultilingualContent({
						data: location?.data,
						prop: 'title',
					})?.primary;

					return location ? (
						<ListColumnItem>
							<Link href={getContentUrl('locations', location.id)}>{location.data.title}</Link>
							{titleMultilingual ? (
								<>
									{' '}
									<TextMultilingual content={titleMultilingual} parenthesis={true} />
								</>
							) : undefined}
							{distanceDisplay ? (
								<>
									{' '}
									<span class:list={['text-primary-500 dark:text-primary-600', 'break-keep']}>
										{distanceDisplay}&nbsp;{t('locations.unit.km')}
									</span>
								</>
							) : undefined}
						</ListColumnItem>
					) : undefined;
				})}
			</ListColumn>
		</ContentSection>
	) : undefined
}
