---
import type { CollectionEntry } from 'astro:content';

import ContentSection from '#components/content/content-section.astro';
import ListColumnItem from '#components/list/list-column-item.astro';
import ListColumn from '#components/list/list-column.astro';
import Link from '#components/parts/link.astro';
import Multilingual from '#components/parts/multilingual.astro';
import { getLocationsCollection } from '#lib/collections/locations/data.ts';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import { getPrimaryMultilingualContent } from '#lib/i18n/i18n-utils.ts';
import { getContentUrl } from '#lib/utils/routing.ts';

interface Props {
	entry: CollectionEntry<'locations'>;
	limit?: number | undefined;
}

const { entry, limit = 20, ...props } = Astro.props;

const { locationsMap } = await getLocationsCollection();

const locationsNearby = entry.data.nearby?.slice(0, limit) ?? [];

const t = getTranslations();
---

{
	locationsNearby.length > 0 ? (
		<ContentSection data-pagefind-ignore data-nosnippet {...props}>
			<Fragment slot="section-title">{t('content.section.locationsNearby')}</Fragment>
			<ListColumn class="font-serif text-xs sm:text-sm">
				{locationsNearby.map(({ locationId, distanceDisplay }) => {
					const location = locationsMap.get(locationId);
					const titleMultilingual = getPrimaryMultilingualContent(location?.data, 'title');

					return location ? (
						<ListColumnItem>
							<Link href={getContentUrl('locations', location.id)}>{location.data.title}</Link>
							{titleMultilingual ? (
								<>
									{' '}
									<Multilingual content={titleMultilingual} parenthesis={true} />
								</>
							) : undefined}
							{distanceDisplay ? (
								<>
									{' '}
									<span class:list={['text-primary-500 dark:text-primary-600', 'break-keep']}>
										{distanceDisplay}&nbsp;{t('locations.unit.km')}
									</span>
								</>
							) : undefined}
						</ListColumnItem>
					) : undefined;
				})}
			</ListColumn>
		</ContentSection>
	) : undefined
}
