---
import type { LocationTwHeritage } from '#lib/collections/locations/locations-schemas.ts';

import ContentSection from '#components/content/content-section.astro';
import TextMultilingual from '#components/parts/text-multilingual.astro';
import { LocationTwHeritageRecords } from '#lib/collections/locations/locations-schemas.ts';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import { getPrimaryMultilingualContent } from '#lib/i18n/i18n-utils.ts';

interface Props {
	heritage: LocationTwHeritage | undefined;
}

const { heritage, ...props } = Astro.props;

const titleMultilingual = heritage
	? getPrimaryMultilingualContent(LocationTwHeritageRecords[heritage], 'title')
	: undefined;

const t = getTranslations();
---

<ContentSection data-pagefind-ignore {...props}>
	<Fragment slot="section-title">{t('content.section.heritage')}</Fragment>
	{
		heritage ? (
			<div class="flex flex-wrap items-center gap-1 text-xs sm:text-sm">
				<span>{LocationTwHeritageRecords[heritage].title}</span>
				<TextMultilingual content={titleMultilingual} parenthesis={true} />
			</div>
		) : undefined
	}
</ContentSection>
