---
import Link from '#components/parts/link.astro';
import { MicroformatClassNames } from '#components/types.ts';
import { getTranslations } from '#lib/i18n/i18n-translations.ts';
import { getSiteUrl } from '#lib/utils/routing.ts';

const t = getTranslations();
---

<div class="mt-1 flex flex-col gap-1 font-serif">
	<Link
		class:list={['text-sm font-semibold', MicroformatClassNames.Url]}
		href={getSiteUrl('/about')}
		rel="me"><span class={MicroformatClassNames.Name}>{t('author.name')}</span></Link
	>
	<div class="text-xs">
		<span class={MicroformatClassNames.Role}>{t('author.role')}</span>, <Link
			class:list={['italic', MicroformatClassNames.Card, MicroformatClassNames.Organization]}
			href={getSiteUrl()}
			linkColor="primary">{t('site.title')}</Link
		>
	</div>
</div>
