---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'div'>;

const { class: className, ...props } = Astro.props;
---

<div
	class:list={[
		'rounded-md border p-2',
		'border-primary-300 bg-primary-200 shadow-sm shadow-primary-300 dark:border-primary-700 dark:bg-primary-900 dark:shadow-primary-900',
		className,
	]}
	{...props}
>
	<slot />
</div>
