---
import { getTranslations } from '#lib/i18n/i18n-translations.ts';

const t = getTranslations();
---

<button
	type="button"
	class:list={['carousel-nav carousel-nav-prev']}
	data-carousel-nav="prev"
	aria-label={t('carousel.nav.previous')}
>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="24"
		height="24"
		viewBox="0 0 24 24"
		aria-hidden="true"
	>
		<path
			fill="none"
			stroke="currentColor"
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="3"
			d="m15 18l-6-6l6-6"></path>
	</svg>
</button>
<button
	type="button"
	class:list={['carousel-nav carousel-nav-next']}
	data-carousel-nav="next"
	aria-label={t('carousel.nav.next')}
>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="24"
		height="24"
		viewBox="0 0 24 24"
		aria-hidden="true"
	>
		<path
			fill="none"
			stroke="currentColor"
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="3"
			d="m9 18l6-6l-6-6"></path>
	</svg>
</button>

<script>
	import '#lib/components/carousel-slider.ts';
</script>
