---
import { nanoid } from 'nanoid';

/**
 * A simple hack to always update the year in the event of my untimely demise
 * @link - https://astro-tips.dev/recipes/dynamic-footer-date-for-static-websites/
 */
const currentYear = new Date().getFullYear();

const elementId = nanoid();
---

<span id={elementId}>{currentYear}</span>

<script is:inline define:vars={{ elementId }}>
	// @ts-expect-error -- elementId exists and is passed properly
	const currentYearElement = document.querySelector(`#${elementId}`);
	const currentYear = String(new Date().getFullYear());

	if (
		currentYearElement instanceof HTMLSpanElement &&
		currentYearElement.textContent !== currentYear
	) {
		currentYearElement.textContent = currentYear;
	}
</script>
