---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
	darkMode?: boolean | undefined;
}

const { class: className, darkMode = true, ...props } = Astro.props;
---

<div
	class:list={[
		'prose-primary prose prose-base max-w-none font-serif lg:prose-lg',
		darkMode ? 'dark:prose-invert' : undefined,
		'prose-a:underline-offset-2 prose-a:transition-colors prose-a:duration-150 prose-a:ease-in',
		'prose-a:text-accent-500 prose-a:decoration-accent-200 prose-a:hover:text-accent-300 prose-a:hover:decoration-accent-100',
		darkMode
			? 'dark:prose-a:text-accent-300 dark:prose-a:decoration-accent-500 dark:prose-a:hover:text-accent-200 dark:prose-a:hover:decoration-accent-400'
			: undefined,
		'prose-h2:mb-small',
		className,
	]}
	{...props}
>
	<slot />
</div>
