---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
	showBlocks?: boolean | undefined;
	showCompact?: boolean | undefined;
}

const { class: className, showBlocks = false, showCompact = false, ...props } = Astro.props;
---

<div
	class:list={[
		'prose-x',
		showBlocks ? 'c-block' : undefined,
		showCompact ? 'prose-compact' : undefined,
		className,
	]}
	{...props}
>
	<slot />
</div>
