---
import type { HTMLAttributes } from 'astro/types';

/**
 * Adapted from the Accessible Astro Components library
 * @link https://github.com/incluud/accessible-astro-components
 */
interface Props extends HTMLAttributes<'div'> {
	class?: string | undefined;
	classGeneric?: string | undefined;
	linkClass?: string | undefined;
	target?: string | undefined;
	label: string;
}

const {
	class: className,
	classGeneric = 'skip-link',
	linkClass,
	target = '#content',
	label,
	...restProps
} = Astro.props;
---

<div class:list={[classGeneric, className]} {...restProps}>
	<a href={target} class={linkClass}>{label}</a>
</div>

<style>
	:where(.skip-link a) {
		position: absolute;
		z-index: 9999;
		transition: inset-block-start 0.2s ease-in-out;
		inset-block-start: -100vh;
		inset-inline-start: 0;
	}
	:where(.skip-link a:hover),
	:where(.skip-link a:focus-visible) {
		inset-block-start: 0;
		outline: 2px solid currentColor;
	}
	@media (prefers-reduced-motion: reduce) {
		:where(.skip-link a) {
			transition: none;
		}
	}
</style>
