/** Loading; adapted from Daisy UI */
.loading-animation {
	aspect-ratio: 1/1;
	background-color: currentColor;
	display: inline-block;
	mask-image: url('/loading.svg');
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: 100%;
	pointer-events: none;
}
