---
import type { MapComponentProps } from '@spectralcodex/react-map-component';

import { ReactMapComponent } from '@spectralcodex/react-map-component';

import MapComponentSprites from '@/components/map/map-component-sprites.astro';

type Props = MapComponentProps;

const props = Astro.props;
---

<MapComponentSprites />

<div
	class:list={[
		'relative flex h-full max-h-[100vh] min-h-[min(600px,100vh)] overflow-hidden sm:rounded-xs lg:rounded-md',
		'bg-fallback',
	]}
>
	<ReactMapComponent style={{ zIndex: 20 }} {...props} client:visible />
	<div class="absolute z-10 flex h-full w-full justify-center">
		<div class="loading w-[20%]"></div>
	</div>
</div>

<style is:global>
	@reference "../../styles/global.css";

	div.maplibregl-popup-content {
		overflow: auto;
		padding: 0;
	}
	div.maplibregl-popup-content a:focus {
		outline: none;
	}
	button.maplibregl-popup-close-button {
		border-bottom-left-radius: 3px;
		color: white;
		mix-blend-mode: difference;
		font-size: 16px;
		width: 20px;
	}
	@media (max-width: 639px) {
		button.maplibregl-popup-close-button {
			font-size: 18px;
			height: 25px;
			width: 25px;
		}
	}
	button.maplibregl-popup-close-button:focus {
		outline: none;
	}
	.maplibregl-ctrl-attrib,
	.maplibregl-ctrl-scale {
		user-select: none;
	}
	[data-theme='dark'] .maplibregl-popup-content {
		@apply bg-primary-950;
	}
	[data-theme='dark'] .maplibregl-popup-anchor-left .maplibregl-popup-tip {
		@apply border-r-primary-950;
	}
	[data-theme='dark'] .maplibregl-popup-anchor-right .maplibregl-popup-tip {
		@apply border-l-primary-950;
	}
	[data-theme='dark'] .maplibregl-popup-anchor-top .maplibregl-popup-tip {
		@apply border-b-primary-950;
	}
	[data-theme='dark'] .maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
		@apply border-t-primary-950;
	}
</style>
