---
import type { MapComponentProps } from '@spectralcodex/react-map-component';
import type { HTMLAttributes } from 'astro/types';

import { ReactMapComponent } from '@spectralcodex/react-map-component';

import '#styles/map.css';
import MapComponentSprites from '#components/map/map-component-sprites.astro';

interface Props extends HTMLAttributes<'div'> {
	mapComponentProps: MapComponentProps;
	/** Pass a unique ID to persist the map component across view transitions */
	persistId?: string | undefined;
}

const { mapComponentProps, persistId, ...props } = Astro.props;

const mapComponentExtendedProps = {
	style: { zIndex: 20 },
	...mapComponentProps,
} satisfies MapComponentProps;
---

<MapComponentSprites />
<div
	class:list={[
		'bg-fallback',
		'max-h-100vh relative flex h-full overflow-hidden shadow-sm sm:rounded-xs lg:rounded-md',
		'shadow-primary-300 dark:shadow-primary-900',
	]}
	style={{ minHeight: 'min(600px,100vh)' }}
	{...props}
	data-pagefind-ignore
>
	{
		persistId ? (
			<ReactMapComponent
				{...mapComponentExtendedProps}
				client:visible
				transition:persist={persistId}
			/>
		) : (
			<ReactMapComponent {...mapComponentExtendedProps} client:visible />
		)
	}
	<div
		class:list={[
			'absolute z-10 flex h-full w-full justify-center',
			'text-primary-700 dark:text-highlight-400',
		]}
	>
		<div class="loading-animation w-[20%]"></div>
	</div>
</div>
