---
import type { MapComponentProps } from '@spectralcodex/react-map-component';
import type { HTMLAttributes } from 'astro/types';

import { ReactMapComponent } from '@spectralcodex/react-map-component';
import { MAP_ICONS_PATH } from 'astro:env/client';

import '#styles/map.css';
import MapComponentSprites from '#components/map/map-component-sprites.astro';
import { FEATURE_MAP_ICONS } from '#constants.ts';

interface Props extends HTMLAttributes<'div'> {
	mapComponentProps: MapComponentProps;
	/** Pass a unique ID to persist the map component across view transitions */
	persistId?: string | undefined;
}

const { mapComponentProps, persistId, ...props } = Astro.props;

const spritesUrl =
	FEATURE_MAP_ICONS && MAP_ICONS_PATH ? new URL(MAP_ICONS_PATH, Astro.site).href : undefined;

const mapComponentExtendedProps = {
	...(spritesUrl ? { spritesId: 'custom', spritesUrl } : {}),
	style: { zIndex: 20 },
	...mapComponentProps,
} satisfies MapComponentProps;
---

<MapComponentSprites />

<div
	class:list={[
		'bg-fallback',
		'shadow-primary-300 dark:shadow-primary-900 relative flex h-full shadow-sm sm:rounded-xs lg:rounded-md',
	]}
	style={{ maxHeight: '100vh', minHeight: 'min(600px,100vh)', overflow: 'hidden' }}
	{...props}
	data-pagefind-ignore
>
	{
		persistId ? (
			<ReactMapComponent
				{...mapComponentExtendedProps}
				client:visible
				transition:persist={persistId}
			/>
		) : (
			<ReactMapComponent {...mapComponentExtendedProps} client:visible />
		)
	}
	<div
		class="text-primary-700 dark:text-highlight-400 absolute flex h-full w-full justify-center"
		style={{ zIndex: 10 }}
	>
		<div class="loading-animation" style={{ width: '20%' }}></div>
	</div>
</div>
