---
import type { MapComponentProps } from '@spectralcodex/react-map-component';

import { ReactMapComponent } from '@spectralcodex/react-map-component';

import MapComponentSprites from '#components/map/map-component-sprites.astro';
import { FEATURE_MAP_ICONS } from '#constants.ts';
import '#styles/map.css';

type Props = MapComponentProps & { mapId?: string | undefined };

const { mapId, ...mapComponentProps } = Astro.props;

const spritesUrl = FEATURE_MAP_ICONS ? new URL('icons/map-icons', Astro.site).href : undefined;
---

<MapComponentSprites />

<div
	class:list={[
		'relative flex h-full max-h-[100vh] min-h-[min(600px,100vh)] overflow-hidden sm:rounded-xs lg:rounded-md',
		'bg-fallback dark:bg-fallback-dark',
	]}
	data-pagefind-ignore
>
	{
		mapId ? (
			<ReactMapComponent
				style={{ zIndex: 20 }}
				{...(spritesUrl ? { spritesId: 'custom', spritesUrl } : {})}
				{...mapComponentProps}
				client:visible
				transition:persist={mapId}
			/>
		) : (
			<ReactMapComponent style={{ zIndex: 20 }} {...mapComponentProps} client:visible />
		)
	}
	<div class="absolute z-10 flex h-full w-full justify-center">
		<div class="loading w-[20%]"></div>
	</div>
</div>
