---
interface Props {
	imageLinkUrl: string;
}

const { imageLinkUrl } = Astro.props;
---

<div
	class="absolute right-1 bottom-1 transition-opacity delay-200 duration-300 sm:opacity-0 sm:group-hover:opacity-100"
>
	<a
		href={imageLinkUrl}
		class="text-primary-50 hover:text-highlight flex h-8 w-8 items-center justify-center"
	>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="24"
			height="24"
			viewBox="0 0 24 24"
			class="drop-shadow-md"
		>
			<path
				fill="currentColor"
				d="M12 9a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3m0 8a5 5 0 0 1-5-5a5 5 0 0 1 5-5a5 5 0 0 1 5 5a5 5 0 0 1-5 5m0-12.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5"
			></path>
		</svg>
	</a>
</div>
