---
import type { HTMLAttributes } from 'astro/types';

import { renderSlot } from '#lib/utils/astro.ts';

type Props = HTMLAttributes<'span'>;

const { class: className, ...props } = Astro.props;

const title = await renderSlot(Astro.slots, 'image-metadata-item-title');
const contents = await renderSlot(Astro.slots, 'default');
---

{
	title && contents ? (
		<span class:list={[className, 'i-meta-item']} {...props}>
			<h3 class="i-meta-item-title">
				<slot name="image-metadata-item-title" />
			</h3>
			<span class="i-meta-item-value">
				<slot />
			</span>
		</span>
	) : undefined
}
