---
import type { ImageFeaturedWithCaption } from '#lib/metadata/metadata-types.ts';

import ImageHeroCarouselItem from '#components/image/image-hero-carousel-item.astro';
import ImageHeroFrame from '#components/image/image-hero-frame.astro';
import CarouselNavigation from '#components/parts/carousel-navigation.astro';

interface Props {
	hasHeroImage: boolean;
	imageFeaturedGroup?: Array<ImageFeaturedWithCaption> | undefined;
	withTitle?: boolean | undefined;
	class?: string | undefined;
}

const { hasHeroImage, imageFeaturedGroup, withTitle = true, class: className } = Astro.props;
---

{
	hasHeroImage && imageFeaturedGroup && imageFeaturedGroup.length > 0 ? (
		<ImageHeroFrame class:list={['group', className]} withTitle={withTitle}>
			<carousel-slider class="block">
				<div class="carousel-container">
					{imageFeaturedGroup.map((imageFeaturedGroupItem, index) => (
						<ImageHeroCarouselItem
							{...imageFeaturedGroupItem}
							index={index}
							withTitle={withTitle}
						/>
					))}
				</div>
				{imageFeaturedGroup.length > 1 && <CarouselNavigation />}
			</carousel-slider>
			<slot />
		</ImageHeroFrame>
	) : (
		<slot />
	)
}
