---
import type { ImageFeaturedObjectWithCaptionMetadata } from '#lib/image/image-featured.ts';

import ImageHeroCarouselItem from '#components/image/image-hero-carousel-item.astro';
import ImageHeroFrame from '#components/image/image-hero-frame.astro';

interface Props {
	hasHeroImage: boolean;
	imageFeaturedGroup?: Array<ImageFeaturedObjectWithCaptionMetadata> | undefined;
	withTitle?: boolean | undefined;
	class?: string | undefined;
}

const { hasHeroImage, imageFeaturedGroup, withTitle, class: className } = Astro.props;
---

{
	hasHeroImage && imageFeaturedGroup ? (
		<ImageHeroFrame withTitle={withTitle} class={className}>
			<div class="carousel-container">
				{imageFeaturedGroup.map((imageFeaturedGroupItem, index) => (
					<ImageHeroCarouselItem index={index} {...imageFeaturedGroupItem} />
				))}
			</div>
			<slot />
		</ImageHeroFrame>
	) : (
		<slot />
	)
}

<style>
	/* Carousel; adapted from Daisy UI */
	.carousel-container {
		display: flex;
		overflow-x: scroll;
		scroll-behavior: smooth;
		scroll-snap-align: start;
		scroll-snap-type: x mandatory;
		-ms-overflow-style: none;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}
</style>
