---
import type { ImageFeaturedWithCaption } from '#lib/metadata/metadata-types.ts';

import ImageCarouselItem from '#components/image/image-carousel-item.astro';
import CarouselNavigation from '#components/parts/carousel-navigation.astro';

interface Props {
	imageFeaturedGroup?: Array<ImageFeaturedWithCaption> | undefined;
	class?: string | undefined;
}

const { imageFeaturedGroup, class: className } = Astro.props;
---

{
	imageFeaturedGroup && imageFeaturedGroup.length > 0 ? (
		<carousel-slider
			class:list={['group relative block max-w-content overflow-hidden sm:rounded-xs', className]}
		>
			<div class="carousel-container">
				{imageFeaturedGroup.map((imageFeaturedGroupItem) => (
					<ImageCarouselItem {...imageFeaturedGroupItem} />
				))}
			</div>
			{imageFeaturedGroup.length > 1 && <CarouselNavigation />}
		</carousel-slider>
	) : undefined
}
