---
import type { ContentMetadataItem } from '#lib/metadata/metadata-types.ts';

import MetadataList from '#components/parts/metadata-list.astro';
import ProseBody from '#components/parts/prose-body.astro';

interface Props {
	title: string;
	items: Array<ContentMetadataItem>;
	count?: number | undefined;
	class?: string | undefined;
}

const { title, items, count, class: className, ...props } = Astro.props;
---

{
	items.length > 0 ? (
		<ProseBody class={className} {...props}>
			<span class="font-medium">{title}</span>:
			<MetadataList items={items} count={count} />
		</ProseBody>
	) : undefined
}
