---
import type { CatalogItem } from '#lib/catalog/catalog-types.ts';

import PreviewList from '#components/parts/preview-list.astro';
import Prose from '#components/parts/prose.astro';

interface Props {
	title: string;
	items: Array<CatalogItem>;
	count?: number | undefined;
	class?: string | undefined;
}

const { title, items, count, class: className, ...props } = Astro.props;
---

{
	items.length > 0 ? (
		<Prose class={className} {...props}>
			<span class="font-medium">{title}</span>:
			<PreviewList items={items} count={count} />
		</Prose>
	) : undefined
}
